.layout {
  display: flex;
}
.layout-container {
  width: 100%;
}
.main-content {
  margin-left: 10%;
  width: 100%;
  max-width: 90vw;
  max-height: 100vh;
  background: #fafbfc;
  position: relative;
 top: 7vh;
}
