aside {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 192px;
  z-index: 1031;
  height: 100vh;
  background-color: var(--card-background);
  color: var(--text-color);

  p {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 5rem;
  }

  p:hover {
    background-color: var(--hover-color);
  }
}


li{
  cursor: pointer;
  width: 100%;
}
