<aside>
  <div
    class="d-flex flex-column justify-content-between flex-shrink-0 bg-light py-4 h-100"
  >
    <ul
      class="nav nav-pills nav-flush flex-column mb-auto text-center text-center align-items-center h-100"
    >
    <img src="image.png" alt="Descrição" width="50%" class="mb-3">

      <p class="d-flex align-items-center gap-2 text-center">
        <!-- <span class="material-symbols-outlined"> settings </span> Configurações -->
      </p>
    </ul>

    <ul
      class="nav nav-pills nav-flush flex-column mb-auto text-center justify-content-end text-center align-items-center h-100"
    >
      <p class="d-flex align-items-center gap-2 text-center">
        <span class="material-symbols-outlined"> settings </span> Configurações
      </p>
    </ul>
  </div>
</aside>
