header {
  position: fixed;
  top: 0;
  left: 192px;
  right: 0;
  z-index: 1030;
  background-color: var(--card-background);
  color: var(--text-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cursor-pointer{
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 5rem;
  font-size: 1rem;
}

.cursor-pointer:hover{
  background-color: var(--hover-color);
}
