/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    margin-bottom: 0 !important;
    font-size: 100%;
    font: inherit;
    font-family: "Roboto", sans-serif;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

input, textarea {
    outline: none;
}

html, body { height: 100%; }


/* Adicione isso ao topo do seu styles.css global */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* 1. Definição das variáveis do Tema Claro (Padrão) */
:root {
  --background-color: #f4f4f4;
  --hover-color: #e0e0e0;
  --subtext-color: #a0a0a0;
  --text-color: #2c2c2c;
  --primary-color: #3f51b5;
  --card-background: #ffffff;
  --card-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  /* Transição suave para a troca de tema */
  transition: background-color 1s ease, color 1s ease;
}

/* 2. Sobrescrevendo as variáveis para o Tema Escuro */
body.dark-theme {

  --background-color: #1e1e1e;
  --text-color: #f4f4f4;
  --subtext-color: #a0a0a0;
  --secondary-text-color: #e0e0e0;
  --hover-color: #7a7a7a;

  --primary-color: #7986cb;
  --card-background: #2c2c2c;
  --card-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  --surface-container-high-color: #3f3f3f;
}

/* 3. Estilos globais que usam as variáveis */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: sans-serif;
  margin: 0;
}

h1,
h2 {
  color: var(--primary-color);
}
